/entrenamiento/nbproject/private/
/entrenamiento/build/
/clase 3/nbproject/private/
/clase 3/build/
/calculadora/nbproject/private/
/calculadora/build/
/trabajo2/nbproject/private/
/trabajo2_corregido/nbproject/private/
/trabajo2_corregido/build/
/trabajo2_completado/nbproject/private/
/Calculadora_1/nbproject/private/
/Calculadora con interfaz/nbproject/private/
/arrayreto/nbproject/private/
/number_race/nbproject/private/
/number_race_1/nbproject/private/
/number_race_1/build/
/spinning_top/nbproject/private/